{% extends 'base.html' %}


{% block title %}
{{_('Get Message')}}
{% endblock %}

{% block content %}
                <section class="nes-container with-title">
                    
                    <h3 class="title">{{_('Your message')}}</h3>
                    {% if status == 1 %}
                    <form action="" method="post">
                        {{ messageform.hidden_tag() }}
                        <div class="nes-field">
                            <label for="name_field">{{_('Your secret')}}</label>
                            {{ messageform.secret(class_="nes-input") }}
                        </div>
                        <button type="submit" class="nes-btn is-success mt-3">{{_('Get')}}</button>
                    </form>
                    
                    {% elif status == 2 %}
                    <div class="nes-field">
                        
                        <div id="textarea" class="item">
                           
                        <textarea name="text" id="textarea_field" class="nes-textarea">
                            {{ message }}
                        </textarea>
                        
                       
                    </div>
                    </div>
                    {% else %}
                    <div id="badges" class="item">
                        
                    <a href="#" class="nes-badge">
                        <span class="is-error">{{_('Not Found')}}</span>
                      </a>
                    </div>
                    {% endif %}
                    
                </section>

                {% endblock %}