{% extends 'base.html' %}


{% block title %}
{{_('Setting message')}}
{% endblock %}

{% block content %}
                <section class="nes-container with-title">
                    <h3 class="title">{{_('Your hash')}}</h3>
                    
                        
                        <div class="nes-field">
                            <input type="text" value="{{hash}}"  id="hash" name="hash" readonly class="nes-input">
                        </div>
                        
                        <div class="nes-field mt-3">
                            <input type="text" value="{{url}}{{url_for('pages.message', hash=hash)}}"  id="hash" name="hash" readonly class="nes-input">
                        </div>
                    
                    
                </section>

                {% endblock %}